.button {
    position: relative;
    padding: 18px 65px;
    border-radius: 18px;
    background: #9DD458;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s ease-in-out;

    h3 {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }

    img {
        width: 16px;
        position: absolute;
        top: 38%;
        left: 30px;
        transition: transform .2s ease-in-out;
    }

    &:hover {
        background-color: lighten(#9DD458, 5%);

        img {
            transform: translateX(-10px);
        }
    }

    &:active {
        background-color: darken(#9DD458, 5%);
    }

    &:disabled {
        background-color: #bebebe;
        cursor: normal;
    }
}