.main {
    padding: 37px 0;
    margin-bottom: 85px;
}

.main__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h1 {
        color: #000;
        font-size: 32px;
        font-weight: 700;
        white-space: nowrap;
    }

    .search {
        border: 1px solid #F3F3F3;
        padding: 15px 18px;
        border-radius: 10px;
        width: 250px;
        display: flex;
        flex-wrap: nowrap;
        position: relative;

        input {
            width: 151px;
        }

        .close__btn {
            position: absolute;
            right: 0;
            top: 10.5px;
            background: none;
            transition: opacity .1s ease-in-out;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 1;
            }

            img {
                width: 25px;
            }
        }

        img {
            margin-right: 14px;
        }
    }
}

.main__block {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

@media (max-width: 609px) {
    .main__top {
        justify-content: center;
    }

    h1 {
        margin-bottom: 10px;
    }
}

@media (max-width: 539px) {
    .main__block {
        justify-content: center;
    }
}